[Desktop Entry]
Name=SoureiGate
Comment=SoureiGate Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=dev.sourei.soureigate
StartupWMClass=dev.sourei.soureigate
TryExec=soureigate
Exec=soureigate start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
